@page "{id:int?}/{handler?}"
@model IndexModel
@{
}

<br />
<h2> Book List</h2>
<br />

<a asp-page="Create" class="btn btn-primary">Create New Book</a>

@if (Model.Books.Count() > 0)
{
    <form method="post">
        <div>
            <br />
            <table class="table table-condensed table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.Books.FirstOrDefault().ISBN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Books.FirstOrDefault().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Books.FirstOrDefault().Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Books.FirstOrDefault().Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Books.FirstOrDefault().Avaibility)
                    </th>
                </tr>
                @foreach (var item in Model.Books)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.ISBN)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Avaibility)
                        </td>
                    </tr>

                }
            </table>
        </div>
    </form>
}
else
{
    <p>No books found.</p>
}